$side-width-left: 140px;
$side-width-right: 350px;

.side-left {
  width: $side-width-left;
}

.side-right {
  width: $side-width-right;
}

.main {
  width: calc(100vw -#{$side-width-left}-#{$side-width-right});
}
